%h1
  Listing sources
  %small
    = link_to 'new', new_source_path

- @sources.each do |source|
  .row
    .col-md-12
      %pre
        = source.code
  .row
    .col-md-12
      = link_to 'Edit', edit_source_path(source)
      = link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' }

- console if Rails.env.development?
