= javascript_include_tag 'game/engine', 'data-turbolinks-track' => false
= javascript_include_tag 'map', 'data-turbolinks-track' => false

.map
  .header.text-right
    -# FPS
    -# %input{type: 'text', name: 'fps'}
  .body
