/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 /*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
  * compiled file so the styles you add here take precedence over styles defined in any styles
  * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
  * file per style scope.
  *
  */

  $screen-md:       850px !default;
  $screen-md-min:   $screen-md !default;
  $screen-sm:       630px !default;
  $screen-sm-min:   $screen-sm !default;

  @import           "bootstrap-sprockets";
  @import           "bootstrap";

  body {
   padding-top:    1em;
   padding-bottom: 1em;
  }

  .inline           { display: inline-block; }

   .badge-error {
     background-color: #b94a48;
   }
   .badge-warning {
     background-color: #f89406;
   }
   .badge-success {
     background-color: #468847;
   }
   .badge-info {
     background-color: #3a87ad;
   }
   .badge-inverse {
     background-color: #333333;
   }

  a.navbar-brand.active {
    color: #f89406;
  }

  .bordered {
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: -1px;
  }

  // .navbar-btn, .form-control {
  //   height: inherit;
  //   margin: 0px;
  // }

  #task_title {
    min-width: 100%;
    max-width: 100%;
    width: calc(100vw - 21em);
  }
